{% block content%}
<h1>Blog</h1>

{%for post in posts%}
	{{ post.timestamp|date:"N d, Y" }}
        {% for category in post.categories.all %}
            {% if forloop.counter >= 2 %}  |{% endif %}
                <a href='{{ category.get_absolute_url }}'>{{ category.title }}</a>
         {% endfor %}
    <h2><a href='{{ post.get_absolute_url }}'>{{ post.title }}</a></h2>
    <p>{{ post.body }}</p>
    <div class="pagination">
    <span class="step-links">
        {% if posts.has_previous %}
            <a href="?page={{ posts.previous_page_number }}">Previous Page</a>
        {% endif %}
      
        <span class="current">
            Page {{ posts.number }} of {{ posts.paginator.num_pages }}
        </span>
      
        {% if posts.has_next %}
            <a href="?page={{ posts.next_page_number }}">Next Page</a>
        {% endif %}
    </span>
</div>
{%endfor%}
{%endblock%}